/* Posts.css */

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }
  
  #post {
    width: 30%;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 1rem;
  }
  
  .post-input-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
  
  button.btn {
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 0.7rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button.btn:hover {
    background-color: #0077be;
  }
  