#root, #root-container, html, body, .App {
  height: 100%;
  width: 100%;
  background-color: rgba(238, 238, 238, 0.69);
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  /* background-color: rgba(229, 229, 229, 0.359); */
}



